/*---Header-------------------------------------------------------------------------------------------------------------------------------*/

header{
    background-color: grey;
    width: 100%;
    height: 100px;
    
}

header h1{
    text-align: left;
    grid-column: 3;
    grid-row: 1;

}

header nav {
    margin-bottom: 15px;
 
}

.headerClass {

    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 10% 20% 40% 10%;
    grid-template-rows: 100px;
    align-items: center;
}

.headerClass img{
    grid-column: 2;
    grid-row: 1;
    width: 80px;
    height: 80px;
    justify-self: left;
}

.headerClass .listeIcone {
    justify-self: right;
    align-items: start;
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    padding: 30px;
    align-self: start;
}


/*---Connexion/Inscription----------------------------------------------------------------------------------------------------------------------------------*/

.connexion div {
    margin-top: 50px;
    margin-bottom: 40px;
    
}

.inscription div{
    margin-top: 10px;
    margin-bottom: 20px;
}


/*---Liste des articles sur la page d'acceuil----------------------------------------------------------------------------------------------------------------------------------*/

.articleListe {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 250px 0px;
    width : 700px;
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.articleListe img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;  
}

.articleListe div{
    grid-column: 2;
    grid-row: 1;
}

.articleListe #reglement {
    grid-column: 2;
    grid-row: 1;
    align-self: end;

}


/*---Article complet----------------------------------------------------------------------------------------------------------------------------------*/

.articleComplet {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 5% 20% 40% 7.5% 7.5% 5%;
    width : 700px;
    height: 600px;
    border: 1px solid black;
    background-color: lightgray;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.articleComplet h2 {
    grid-column: 1;
    grid-row: 1;
    
}

.articleComplet #auteur {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

.articleComplet #date {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.articleComplet #categorie {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

.articleComplet #description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    text-align: left;
    margin-left: 5%;
}

.articleComplet #moyenPayement {
    grid-column: 1;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: center;
}

.articleComplet #prix {
    grid-column: 2;
    grid-row: 5;
}

.articleComplet #troc {
    grid-column: 2;
    grid-row: 6;
}

.articleComplet #modif {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 7;
}

.articleComplet .listeImage{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 45% 45%;
    align-items: center;
    height: 100%;
}

.articleComplet .listeImage p{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
    text-align: left;
    margin-left: 5%;
}

.articleComplet .listeImage img{
    width: 95%;
    height: 95%;
    justify-self: center;
    border: 3px solid black;
}

.article {
    text-align: center;
}


/*---Message d'erreur----------------------------------------------------------------------------------------------------------------------------------*/

.error {
    border: 1px solid;
    border-color: red;
    text-align: center;
    background-color: rgba(218, 197, 197, 0.838);
    width: 200px;
    margin: auto;
}


/*---Notifications----------------------------------------------------------------------------------------------------------------------------------*/

#notifications {
    background: lightgray;
    width: 200px;
    display: none;
    opacity: 1;
    border: 1px solid black;
    justify-self: right;
    align-self: start;
}

#notifications h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
}

#contenuNotif {
    text-align: center;
}


/*---Main----------------------------------------------------------------------------------------------------------------------------------*/

main {
    text-align: center;   
}   

.content {
    width: 100%;
    text-align: center; 
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 600px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.publish {
    text-align: center;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/*---Contenu du compte----------------------------------------------------------------------------------------------------------------------------------*/

#article, #commande, #information  {
    display : none;
}

/*---Avis-----------------------------------------------------------------------------------------------------------------------------------------------*/


.avis {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 250px 0px;
    width : 700px;
    text-align: center;
    border: 1px solid black;
    background-color: greenyellow;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.avis div{
    grid-column: 2;
    grid-row: 1;
}

.avis #reglement {
    grid-column: 2;
    grid-row: 1;
    align-self: end;

}