* {
    padding: 0;
}

#news_lettre {
    align-items: center;
    padding: 0 10px 10px 10px;
    margin: auto;
    background-color: rgb(66, 15, 43);
    border: 2px solid gray;
    color: white;
    width: 20%;
}

h3 {
    text-align: center;
}

form {
    padding: 0 10px 20px;
}

input {
    margin-bottom: 10px;
}

button {
    align-items: center;
}