html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea, select {
	font-family:Arial, Helvetica, sans-serif;
}

/* Téléphone */

body {
	background-color: whitesmoke;
	font-family:Arial, Helvetica, sans-serif;
}

header {
	background-color: white;
	border: 1px black solid;
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 4vh;
	align-items: center; 
	margin-bottom: 4vh;
}

header > h1 {
	font-size: 1.5em;
	text-align: left;
}

header > nav {
	text-align: right;
}

header > nav > ul > li {
	display: inline;
}

main {
	text-align: center;
}

main > .titre {
	margin-bottom: 4vh;
	font-size: 2em;
}

main > .publication {
	background-color: white;
	border: 1px black solid;
	padding: 2vh;
	margin-top: 4vh;
	margin-bottom: 4vh;
}

main > .articles {
	background-color: white;
	border: 1px solid black;
	padding: 2vh;
	margin: 2vh;
}

main > .saisieInfosArticles {
	background-color: white;
	border: 1px solid black;
	margin-left: 4vh;
	margin-right: 4vh;
	padding: 2vh;
}

main > .saisieInfosArticles > form > div > .titre {
	font-size: 1.5em;
	width: 95%;
	height: 8vh;
	margin-bottom: 1vh;
}

main > .saisieInfosArticles > form > div > .categorie {
	font-size: 1.5em;
	width: 97%;
	height: 8vh;
}

main > .saisieInfosArticles > form > div > .description {
	font-size: 1.5em;
	width: 95%;
	margin-top: 1vh;
	height: 25vh;
}

main > .saisieInfosArticles > form > div > .valider {
	font-size: 1.5em;
	width: 60%;
	margin-top: 1vh;
	height: 8vh;
}

main > .recherche > form > .saisie {
	font-size: 1.5em;
	height: 8vh;
	width: 90%;
	margin-bottom: 1vh;
}

main > .recherche > form > .categorie {
	font-size: 1em;
	height: 6vh;
	width: 35%;
}

main > .recherche > form > .valider {
	font-size: 1em;
	height: 6vh;
	width: 54%;
}

main > .publication > form > input {
	font-size: 1em;
	height: 6vh;
	width: 80%;
	margin: 1vh;
}

main > .publication > form > p {
	font-size: 1.2em;
}

footer {
	margin-top: 5vh;
	margin-bottom: 5vh;
	text-align: center;
	font-size: 0.75em;
}

article {
	border: 1px solid black;
	padding: 2vh;
	
}

/* Ordinateur */

@media screen and (min-width: 800px) {

	main > .saisieInfosArticles {
		width: 600px;
		margin: auto;
	}

	main > .saisieInfosArticles > form > div > .titre {
		font-size: 1.2em;
		height: 5vh;
		width: 57%;
	}
	
	main > .saisieInfosArticles > form > div > .categorie {
		font-size: 1.2em;
		height: 5.9vh;
		width: 37%;
	}
	
	main > .saisieInfosArticles > form > div > .description {
		font-size: 1.2em;
		height: 30vh;
		width: 95%;
	}

	main > .saisieInfosArticles > form > div > .valider {
		font-size: 1.2em;
		height: 5vh;
		width: 40%;
	}

	main > .recherche > form {
		margin: auto;
		width: 60%;
	}

	main > .recherche > form > .saisie {
		height: 6vh;
		font-size: 1em;
		width: 55%;
		margin-bottom: 1vh;
	}
	
	main > .recherche > form > .categorie {
		width: 20%;
	}
	
	main > .recherche > form > .valider {
		width: 15%;
	}

	main > .publication > form > input {
		width: 25%;
	}

	main > .articles {
		width: 60%;
		margin: auto;
	}

}